html, body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--bg);
    accent-color: var(--acc);

    transition:
        background-color .25s ease-out,
        accent-color .25s ease-out;
}
a[href] {
    transition: color .25s ease-out;
    user-select: none;
}

/* === themes === */
/* light theme */
body, body.light {
    --bg: #eee;
    --fg: #000;
    --acc: #ff0080; /* accent color */
    color: #000;
}
body.light a[href] {
    color: #22f;
}
body.light a[href]:hover {
    color: #66f;
}
body.light a[href]:visited {
    color: #4828ff;
}

/* dark theme */
body.dark {
    --bg: #080010;
    --fg: #fff;
    --acc: #00ff80; /* accent color */
    color: #fff;
}
body.dark a[href] {
    color: #aaf;
}
body.dark a[href]:hover {
    color: #77f;
}
body.dark a[href]:visited {
    color: #c8f;
}

/* === styles === */
.top-bar {
    background-color: #fff2;
    backdrop-filter: blur(8px);

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 64px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 18px;

    border-bottom: solid 2px var(--fg);

    z-index: calc(infinity);
}

.content {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.content span {
    width: 100%;
    max-height: calc(100% - 64px);
    height: fit-content;
    position: fixed;
    top: 64px;
    left: 0;
    opacity: 0%;
    pointer-events: none;
    transition: opacity .25s ease,
    transform .65s ease-in;
    text-align: center;
    overflow: scroll;
}
.content span:not(.active) {
    transform: translateY(-48px);
}
.content span:not(.active).reduce-movement {
    transform: translateY(-16px);
}
.content span.active {
    width: 100%;
    max-height: calc(100% - 64px);
    height: fit-content;
    position: fixed;
    transform: translateY(0%);
    top: 64px;
    left: 0;
    opacity: 100%;
    pointer-events: auto;
    transition:
        opacity .25s ease,
        transform .5s ease;
    text-align: center;
    overflow: scroll;
}

.logo {
    height: 24px;
    position: fixed;
    left: 0;
    padding: 12px;
}

[hash-id] {
    box-shadow: 0px 0px 2px #fff2;
    background-color: #fff2;
}
[hash-id]:hover {
    box-shadow: 0px 0px 3px #fff4;
    background-color: #fff4;
}
[hash-id]:active {
    box-shadow: 0px 0px 5px #fff8;
    background-color: #fff8;
}
a[hash-id]
,p[hash-id]
,h1[hash-id]
,h2[hash-id]
,h3[hash-id]
,h4[hash-id]
,h5[hash-id]
,h6[hash-id]
{
    text-shadow: 0px 0px 6px #fff3;
    background-color: #0000;
    box-shadow: none;
    transition: text-shadow .15s ease;
}
a[hash-id]:hover
,p[hash-id]:hover
,h1[hash-id]:hover
,h2[hash-id]:hover
,h3[hash-id]:hover
,h4[hash-id]:hover
,h5[hash-id]:hover
,h6[hash-id]:hover
{
    text-shadow: 0px 0px 7px #fff6;
    background-color: #0000;
    box-shadow: none;
}
a[hash-id]:active
,p[hash-id]:active
,h1[hash-id]:active
,h2[hash-id]:active
,h3[hash-id]:active
,h4[hash-id]:active
,h5[hash-id]:active
,h6[hash-id]:active
{
    text-shadow: 0px 0px 8px #fffb;
    background-color: #0000;
    box-shadow: none;
    transition: none;
}
